rules_version = '2';
// TODO:
// Character limit for titles
// Character limit for posts
// Validate board names
// Validation for storage?
// Usernames must be unique
// Timeout between firestore/storage creation
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }
    function uidMatchesId(userId) {
      return request.auth.uid == userId;
    }
    match /users/{userId} {
      allow read;
      allow write: if isSignedIn() && uidMatchesId(userId);
    }
    match /posts/{postId} {
      allow read; 
      allow create, update: if isSignedIn();
      allow delete: if isSignedIn() && request.auth.uid == resource.data.author;
    }
    match /comments/{commentId} {
      allow read; 
      allow create, update: if isSignedIn();
      allow delete: if isSignedIn() && request.auth.uid == resource.data.author;
    }
    match /boards/{document=**} {
      allow read;
      allow create, update: if isSignedIn();
    }
  }
}
